bin/
obj/
.vs/
.dotnet/
.nuget/

/_apk_extract/
/_build_verify/
/_tmpDbInspect/
/_emulator_db/
/_emulator_db_after_patch/
/_emulator_db_after_success/
/UpgradeLog.htm
/_*.png
/_*.xml
/_*.log
/_*.txt
/_*.db

*.zip
*.apk
*.aab
