html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #f6f8fb;
}

.navbar-brand {
  letter-spacing: -0.02em;
}

.card {
  border-radius: 1rem;
}

.table th {
  white-space: nowrap;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus,
.form-select:focus,
textarea:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.2rem rgba(37, 140, 251, 0.25);
}
